fastapi
uvicorn
python-dotenv
pillow
pdf2image
google-generativeai
openai
pymongo
langchain-community
langchain-google-genai
upstash-redis
requests
python-multipart   
uvicorn[standard]
pypdf


